body {
    font-family: 'Tahoma', 'Open Sans', sans-serif;
    background:white; }
    text-align: center;
    align-items: center;
    font-size: bigger;
    p {
    color: #111111; }
    .menu { 
        text-align: center;
        background-color: #8B0000; }
        .footer p {
            color: #f5f5f5; }
            .menu {
                background-color: #8B0000;
                overflow: auto; }
                .main {
                overflow:auto;
                background-color: #f5f5f5; }
                .photos {
                overflow:auto;
                background-color: #F0EDE4; }
                .footer {
                overflow:auto;
                background-color: #777777; }
                .main {
                    overflow: auto;
                    text-align: center;
                    background-color: #f5f5f5;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    }
                    .photos {
                    overflow: auto;
                    padding-top: 20px;
                    padding-bottom: 40px;
                    text-align: center;
                    background-color: #F0EDE4;
                    }
                    .footer {
                    overflow: auto;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    text-align: center;
                    background-color: #777777;
                    }
                    .photos img {
                        text-align: center;
                        border-style: solid;
                        border-width: 2px;
                        border-color: #8B0000;
                        border-radius: 6px;
                        margin: 2px;
                        object-fit: cover;
                        object-position: top;
                        }
                        menu ul {
                            text-align: center;
                            padding-top: 20px;
                            padding-bottom: 20px;
                            text-decoration: none;
                            }
                            .menu li {
                            display: inline-block;
                            text-align: center;
                            }
                            .menu li a {
                            display: inline-block;
                            height: auto;
                            width: 150px;
                            color: #333333;
                            background-color: #f5f5f5;
                            padding: 10px;
                            margin: 4px;
                            text-align: center;
                            font-size: 18px;
                            font-weight: bold;
                            text-decoration: none;
                            border-radius: 4px;
                            }
                            .menu li a:hover {
                            background-color: #d6d599;
                            }
                            .footer ul {
                                text-align: center;
                                padding-top: 10px;
                                padding-bottom: 10px;
                                text-decoration: none;
                                }
                                .footer li {
                                display: inline-block;
                                text-align: center;
                                }
                                .footer li a {
                                display: inline-block;
                                height: auto;
                                width: auto;
                                color: #333333;
                                background-color: #f5f5f5;
                                padding: 10px;
                                margin: 4px;
                                text-align: center;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                                }
                                .footer li a:hover {
                                background-color: #d6d599;
                                }
                                h1 {
                                    color: #BDA685;
                                    font-weight: bold;
                                    font-size: 36px;
                                    }
                                    h3 {
                                        color: #8B0000;
                                        font-weight: bold;
                                        font-size: 36px;
                                        }
                                    .main h2 {
                                    overflow: auto;
                                    margin-top: 40px;
                                    margin-left: auto;
                                    margin-right: auto;
                                    width: 200px;
                                    padding: 10px;
                                    background-color: #d6d599;
                                    color: #8B0000;
                                    font-weight: bold;
                                    text-align: center;
                                    border-radius: 30px;
                                    }
                                    h4 {
                                        overflow: auto;
                                        margin-top: 60px;
                                        margin-left: auto;
                                        margin-right: auto;
                                        width: 450px;
                                        padding: 20px;
                                        background-color: peachpuff;
                                        color: #111111;
                                        font-weight: bold;
                                        text-align: center;
                                        border-radius: 30px;
                                        font-size: 25px;
                                        }
                                    .photos h2 {
                                    color: #8B0000;
                                    font-size: 28px;
                                    }
                                    .footer h2{
                                    color: #d6d599;
                                    }
                                    .footer p {
                                    color: #f5f5f5;
                                    }
                                    